stages:
  - stub_run

stub_run:
  stage: stub_run
  image: ubuntu:22.04
  variables:
    JAVA_VERSION: 17
  script:
    - apt-get update && apt-get install -y openjdk-${JAVA_VERSION}-jdk curl python3-pip
    - curl -s https://get.nextflow.io | bash
    - mv nextflow /usr/local/bin/
    - nextflow run main.nf -profile test -stub-run
  cache:
    paths:
      - ~/.cache/pip/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
  tags:
    - docker-linux