stages:
  - build

build:
  stage: build
  image: openjdk:17-jdk-slim
  before_script:
    - apt-get update && apt-get install -y curl
    - curl -s https://get.nextflow.io | bash
    - mv nextflow /usr/local/bin/
    - nextflow -version
  cache:
    paths:
      - ~/.cache/pip/
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: always
  tags:
    - docker-linux