docker.enabled = true
docker.runOptions='-u $(id -u):$(id -g)'

// note that the nanopore option does not allow cutadapt and / or pear
params {
    // Make sure the reads (single or paired) are labelled as _R1_ or _R2_
    // If this is not the case please rename your files as follows:
    //
    // Example of Read 1 file: raw_1.filt.fastq.gz
    //
    // Command: rename 's/raw_1/raw_R1_.filt.fastq.gz/' *raw_1*
    //          rename 's/FILE_PATTERN/NEW_PATTERN/' *FILES*
    //
    reads = "/mnt/home2/tome/data/DATA-Project-LowLands-16S/DATA-COLLECT/*LLC*"
    outdir = "/home/alemg/projects/test_omicflow"
    // 
    // Automatic metadata creation will use the string in front of _R1_ or _R2_ as SAMPLE-ID.
    // Automatic metadata creation is enabled when ``metadata = "" ``
    // 
    metadata = ""
    cpus = 8
    classifier = "$projectDir/assets/SILVA.OUT.classifier.qza"
    root_taxon = "domain - Bacteria"
    run_pear = "yes" // only applicable for Qiime single end mode with paired-end reads
    nanopore = "no" // only applicable for Qiime single end mode with single-end reads
    niceness = 16
    seq_read = "paired" // 'single' or 'paired' end reads

    // options for primer and adapter trimming:
    //      - Use 'false' if adapters or primers are not known
    //      - Use 'skip' to skip the adapters or primers trimming step
    //
    // If both primer and adapter are not 'false', then both will be used for trimming
    fwd_primer = "CCTACGGGAGGCAGCAG"
    rev_primer = "TACNVGGGTATCTAAKCC"

    fwd_adapter = "skip"
    rev_adapter = "skip"     
}

executor {
  $docker {
      queueSize= 12
  }
  $local {
      cpus = params.cpus
      queueSize= 12
  }
}

profiles {
   test { includeConfig 'assets/TEST.config' }
}
