//------------------------------------------------------------------------------------------------//
//
//    Maintained by Alem Gusinac, last modified at 03-10-2024
//
//    This config file sets up parameters for 16S metagenomics processing.
//
//    Current features:
//          - primer or adapter trimming by CutAdapt
//          - paired-end read merging PEAR (applied only on paired-end reads)
//          - dada2 denoising (parallel and with baches)
//          - Taxonomy assignment by VSEARCH
//          - Alpha diversity & Beta diversity metrics
//          - Phylogeny by Fasttree
//          - Sankeyplots
//          - Biotaviz templates
//          - omics analysis by metadata
//              contains following visualizations/stats:
//                  1. ASVs classified for each taxa rank
//                  2. Alpha diversity: Shannon index
//                  3. Composition plots
//                  4. Ordination, such as PCoA, PCA, NMDS, RDA
//                  5. Statistics: PERMANOVA, ANOSIM
//                  6. FoldChange via heatmaps
//                  7. Correlations
//
//    To be implemented:
//          - iTOL via API visualization
//          - Adapter reads detection via FASTQC
//          - primer sequences curation and detection
//          - Addition of OmicFlow with performance improvement for large datasets
//          - Combine fastqc.sif and pyrrr.sif into a single singularity image
//              - Adding extra features:
//                  1. Foldchange visualization as volcano plots with wilcox stats
//                  2. Ordination: UMAP
//                  
//------------------------------------------------------------------------------------------------//

params {
    //--------------------------------------------------------------------------------------------//
    // Make sure the reads (single or paired) are labelled as _R1_ or _R2_
    // If this is not the case please rename your files as follows:
    //
    // Example of Read 1 file: raw_1.filt.fastq.gz
    //
    // Command: rename 's/raw_1/raw_R1_.filt.fastq.gz/' *raw_1*
    //          rename 's/FILE_PATTERN/NEW_PATTERN/' *FILES*
    //--------------------------------------------------------------------------------------------//
    reads = "/home/alemg/projects/CMANGIO/data/raw_sequences/*EOT*"
    outdir = "/home/alemg/projects/test_omicflow/results"
    //--------------------------------------------------------------------------------------------//
    // Automatic metadata creation will use the string in front of _R1_ or _R2_ as SAMPLE-ID.
    // Automatic metadata creation is enabled when ``metadata = "" ``
    //--------------------------------------------------------------------------------------------//
    metadata = ""
    cpus = 70
    classifier = "$projectDir/assets/SILVA.OUT.classifier.qza"
    root_taxon = "domain - Bacteria"
    nanopore = "no" // only applicable for Qiime single end mode with single-end reads
    niceness = 16
    //--------------------------------------------------------------------------------------------//
    // Seq_read species either paired- or single-end reads
    // Paired-end automatically are assembled into single-end via PEAR
    //--------------------------------------------------------------------------------------------//
    read_end = "paired"
    //--------------------------------------------------------------------------------------------//
    // Batch_size splits data into batches for denoising
    // DADA2 recommends a batch size of ~750 with low number of reads.
    // We propose a batch size of ~500 by default, this can be adjusted for each dataset.
    //
    // NOTE: If samples is below 500, dada2 will not split your data into batches!
    //--------------------------------------------------------------------------------------------//
    batch_size = 500
    //--------------------------------------------------------------------------------------------//
    // options for primer and adapter trimming:
    //      - Use 'false' if adapters or primers are not known
    //      - Use 'skip' to skip the adapters or primers trimming step
    //
    // If both primer and adapter are not 'false', then both will be used for trimming
    //--------------------------------------------------------------------------------------------//
    fwd_primer = "skip"
    rev_primer = "skip"

    fwd_adapter = "skip"
    rev_adapter = "skip"     
}

executor {
  $local {
      cpus = params.cpus
      queueSize= 12
  }
}

singularity {
    enabled = true
    autoMounts = true
}

profiles {
   test { includeConfig 'assets/TEST.config' }
}
