docker.enabled = true
docker.runOptions='-u $(id -u):$(id -g)'

// note that the nanopore option does not allow cutadapt and / or pear
params {
    reads = "$projectDir/assets/fastq_test/*.fastq.gz"
    outdir = "$projectDir/results"
    metadata = ""
    cpus = 64
    classifier = "$projectDir/assets/SILVA.OUT.classifier.qza"
    root_taxon = "domain - Bacteria"
    run_pear = "no" // only applicable for Qiime single end mode with paired-end reads
    nanopore = "no" // only applicable for Qiime single end mode with single-end reads
    niceness = 16
    seq_read = "paired" // 'single' or 'paired' end reads

    // options for primer and adapter trimming:
    //      - turn off by writing 'false' e.g. 'fwd_primer = false'
    //      - Add a custome primer or adapter sequence
    //      - Use the adapters.fasta or primers.fasta from path: "$projectDir/assets/"
    //
    // If both primer and adapter are not 'false', then both will be used for trimming
    fwd_primer = false
    rev_primer = false

    fwd_adapter = false     // "$projectDir/assets/adapters.fasta"
    rev_adapter = false     // "$projectDir/assets/adapters.fasta"

    // Omics analysis
    rankstat_col = ""
}

executor {
  $docker {
      queueSize= 12
  }
  $local {
      cpus = params.cpus
      queueSize= 12
  }
}

profiles {
   test { includeConfig 'assets/TEST.config' }
}