process {
    withName: "CUTADAPT" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/trimmomatic.sif' : 'staphb/trimmomatic'}
        ext.args = [
            "--discard-untrimmed --minimum-length 20"
        ].join(' ').trim()
    }
    withName: "PEAR" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/trimmomatic.sif' : 'staphb/trimmomatic'}
        ext.args = [
            "-y 25G -j 32 -q 30 -v 35 -p 0.0001"
        ].join(' ').trim()
    }
    withName: "SEQKIT_SAMPLE" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/trimmomatic.sif' : 'staphb/trimmomatic'}
        ext.args = [
            "-s100 -n ${params.read_sample_size}"
        ].join(' ').trim()
    }
    withName: "FASTQC" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/fastqc.sif' : 'staphb/fastqc:latest'}
    }
    withName: "MULTIQC" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/multiqc.sif' : 'multiqc/multiqc:latest'}
    }
    withName: "MERGE_MULTIQC_STATS" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/biopython-train.sif' : 'biopython-train:latest'}
    }
}


