process {
    withName: "CUTADAPT" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/trimmomatic.sif' : 'staphb/trimmomatic'}
        ext.args = [
            "--discard-untrimmed --minimum-length 20"
        ].join(' ').trim()
    }
    withName: "PEAR" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/trimmomatic.sif' : 'staphb/trimmomatic'}
        ext.args = [
            "-y 25G -j 32 -q 30 -v 35 -p 0.0001"
        ].join(' ').trim()
    }
    withName: "SEQKIT_SAMPLE" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/trimmomatic.sif' : 'staphb/trimmomatic'}
        ext.args = [
            "-s100 -n ${params.read_sample_size}"
        ].join(' ').trim()
    }
    withName: "FASTQC" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/fastqc.sif' : 'staphb/fastqc:latest'}
    }
    withName: "MULTIQC" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/multiqc.sif' : 'multiqc/multiqc:latest'}
    }
    withName: "MERGE_MULTIQC_STATS" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/biopython-train.sif' : 'biopython-train:latest'}
    }
    withName: "CREATE_MAPPING" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/biopython-train.sif' : 'biopython-train:latest'}
    }
    withName: "DADA2" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/parallel_dada2.sif' : 'agusinac/run-dada2-batch:0.0.1'}
        ext.args = [
            "--p-trunc-q 2 --p-max-ee 6 --p-min-fold-parent-over-abundance 2 --p-chimera-method consensus"
        ].join(' ').trim()
    }
    withName: "QIIME_IMPORT_EXPORT" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/qiime2.sif' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "ASSIGN_TAXONOMY" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/qiime2.sif' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "COMBINE_TAXONOMY" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/qiime2.sif' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "MINMAX" {
        container = {workflow.containerEngine == 'singularity' ? "file:///mnt/rtc/pipelines/nextflow-container-images/singularity/pyrrr_v2.sif' : 'agusinac/pyrrr:0.2.0'}
    }
    withName: "ALPHA_RAREFACTION" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/qiime2.sif' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "MERGE_ALPHA_DIVERSITY" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/qiime2.sif' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "BETA_RAREFACTION" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/qiime2.sif' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "CORE_DIVERSITY" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/qiime2.sif' : 'quay.io/qiime2/core:2020.8'}
    }
}



