process {
    withName: "CUTADAPT" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/biocontainers/cutadapt:5.1--py39hbcbf7aa_0' : 'quay.io/biocontainers/cutadapt:5.1--py39hbcbf7aa_0'}
        ext.args = [
            "${params.cutadapt_opt}"
        ].join(' ').trim()
    }
        withName: "PEAR" {
        container = {workflow.containerEngine == 'singularity' ? 'dnalinux/pear:0.9.2' : 'dnalinux/pear:0.9.2'}
        ext.args = [
            "${params.pear_opt}"
        ].join(' ').trim()
    }
    withName: "SEQKIT_SAMPLE" {
        container = {workflow.containerEngine == 'singularity' ? 'staphb/seqkit:latest' : 'staphb/seqkit:latest'}
        ext.args = [
            "${params.seqkit_opt}"
        ].join(' ').trim()
    }
        withName: "FASTQC" {
        container = {workflow.containerEngine == 'singularity' ? 'staphb/fastqc:latest' : 'staphb/fastqc:latest'}
    }
    withName: "MULTIQC" {
        container = {workflow.containerEngine == 'singularity' ? 'multiqc/multiqc:latest' : 'multiqc/multiqc:latest'}
    }
    withName: "CREATE_QIIME_MAPPING" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/anot2biom:latest' : 'agusinac/anot2biom:latest'}
    }
    withName: "DADA2" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/run-dada2-batch:0.0.2' : 'agusinac/run-dada2-batch:0.0.2'}
        ext.args = [
            "${params.dada2_opt}"
        ].join(' ').trim()
    }
    withName: "QIIME_IMPORT_EXPORT" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "ASSIGN_TAXONOMY" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "COMBINE_TAXONOMY" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    
    withName: "FASTTREE" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "MINMAX" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/anot2biom:latest' : 'agusinac/anot2biom:latest'}
    }
    withName: "ALPHA_RAREFACTION" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "MERGE_ALPHA_DIVERSITY" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "BETA_RAREFACTION" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "CORE_DIVERSITY" {
        container = {workflow.containerEngine == 'singularity' ? 'quay.io/qiime2/core:2020.8' : 'quay.io/qiime2/core:2020.8'}
    }
    withName: "BIOTAVIZ" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/anot2biom:latest' : 'agusinac/anot2biom:latest'}
    }
    withName: "SANKEYPLOTS" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/pyrrr:0.2.0' : 'agusinac/pyrrr:0.2.0'}
    }
    withName: "OMICFLOW" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/autoflow:1.4.0' : 'agusinac/autoflow:1.4.0'}
    }
}