profiles {
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g) --rm --security-opt=no-new-privileges'
        singularity.enabled     = false
        }
    singularity {
        singularity.enabled     = true
        docker.enabled          = false
        }
}

process {
    // metadata processes
    withName: "generate_mapping" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "validate_mapping" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }

    // fastqc processes
    withName: "fastqc_pear" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "fastqc_trimmed" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "fastqc_untrimmed" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }

    // multiqc processes
    withName: "multiqc_pear" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "multiqc_trimmed" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "multiqc_untrimmed" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }

    // trim/denoise processes
    withName: "dada2_denoise" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/parallel_dada2.sif" : "agusinac/run-dada2-batch:0.0.1"}
    }
    withName: "cutadapt" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "pear" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }

    // merge read stats processes
    withName: "merge_readstats_single" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "merge_readstats_paired" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }

    // qiime2 processes
    withName: "qiime_import_export" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }
    withName: "assign_taxonomy" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }
    withName: "combine_taxonomy_biom" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }
    withName: "phylogeny" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }

    // alpha & beta processes
    withName: "minmax" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "alpha_rarefaction" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }
    withName: "merge_alpha_diversity" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }
    withName: "beta_rarefaction" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }
    withName: "core_diversity" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/qiime2.sif" : "quay.io/qiime2/core:2020.8"}
    }

    // visualization processes
    withName: "biom_to_biotaviz" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "sankeyplots" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/pyrrr_v2.sif" : "agusinac/pyrrr:0.2.0"}
    }
    withName: "omics_analysis" {
        container = {workflow.containerEngine == "singularity" ? "$projectDir/containers/singularity/omicflow.sif" : "agusinac/autoflow:0.0.1"}
    }
}


