params {
    singleEnd                       =   false
    input                           =   null
    reads                           =   "$projectDir/tests/data/*_{R1,R2}_.fastq.gz"
    outdir                          =   "$projectDir/tests/data/result"

    // QIIME2 classifiers
    classifier_name                 =   'standard'
    classifier_path                 =   "$projectDir/classifiers"
    classifier_custom               =   null
    
    // Common primer and adapter sequences
    standard_adapters               =   "$projectDir/assets/adapters.fasta"
    standard_primers                =   "$projectDir/assets/primers.fasta"
    custom_primer_1                 =   null
    custom_primer_2                 =   null
    custom_adapter_1                =   null
    custom_adapter_2                =   null

    // software non-default options
    read_merger_tool                =   "flash"
    seqkit_opt                      =   "-s100 -n 100000"
    pear_opt                        =   "-y 25G -j 32 -q 30 -v 35 -p 0.0001"
    flash_opt                       =   "--min-overlap 10 --max-mismatch-densit 0.2"
    cutadapt_opt                    =   "--discard-untrimmed --minimum-length 20"
    dada2_opt                       =   "--p-trunc-q 2 --p-max-ee 6 --p-min-fold-parent-over-abundance 2 --p-chimera-method consensus --batch_n 500"
    multiqc_config                  =   "$projectDir/assets/multiqc_config.yaml"

    novaseq                         =   false
    root_taxon                      =   "domain - Bacteria"

    // Process bypass options
	bypass_trim 					=	true
    bypass_denoise                  =   false
    bypass_post_analysis            =   false
    bypass_report                   =   false

	// File saving options
    save_trim_reads                 =   true
    save_merged_reads               =   true
    save_sampled_reads              =   true

    save_denoise_stats              =   true
    save_denoise_sequences          =   true
    save_denoise_table              =   true

    save_biom_files                 =   true
    save_tree_files                 =   true
    save_alpha_div_files            =   true
    save_beta_div_files             =   true
    save_qiime_artifacts            =   true

    save_biotaviz_files             =   true
    save_sankey_plot                =   true
    save_final_reports              =   true

    validate_params                 =   true // Not yet functional
    version                         =   false
    help                            =   false
    monochrome_logs                 =   false

    email                           =   null
    email_on_fail                   =	null
    plaintext_email                 =   false
    hook_url                        =   null

    process_low_cpu                 =   4
    process_med_cpu                 =   8
    process_high_cpu                =   16
    cpus                            =   32
}