params {
	singleEnd 						=	false
	input							= 	"${projectDir}/tests/data/samplesheet.csv"
	reads 	 						=	"$projectDir/tests/data/*_{1,R1,2,R2}.{fq,fq.gz,fastq,fastq.gz}"
	outdir 	  						=	"$projectDir/tests/result"

	// TRIM settings
	trim_tool 						= 'adapterremoval'
	custom_adapter_1				= false
	custom_adapter_2				= false
	
	// AdapterRemoval options
	adapterremoval_minquality		= 5

	// Trimmomatic options
	adapters_file					= "${projectDir}/assets/adapters/NexteraPE-PE.fa"

	// Bowtie2 options
	bowtie2_opt  					=	'--very-sensitive-local --phred33'
	bowtie_db 	 					=	'/mnt/comics/bamics/TMP/kneaddata_db/'

	// Metaphlan options
	metaphlan_db  					=	'/mnt/comics/bamics/TMP/metaphlan4_db'
	metaphlan_opt  					=	'-t rel_ab_w_read_stats'

	// Humann3 options
	humann_db 	 					=	'/mnt/comics/bamics/TMP/humann3_db'

	// cat_pack options
	cat_pack_db  					=	'/mnt/comics/bamics/TMP/CAT_pack/20240422_CAT_nr'

	// busco options
	busco_db						= 	'/mnt/comics/bamics/TMP/busco_downloads'

	// Process bypass options
	bypass_trim 					=	false
	bypass_decon  					=	false
	bypass_read_annotation 			=	true
	bypass_contig_annotation  		=	false

	// File saving options
	save_trim_reads  				=	true
	save_decon_reads  				=	true
	save_interleaved_reads  		=	false
	save_multiqc_reports 			=	true
	save_read_annotation  			=	true
	save_assembly 	 				=	true
	save_contig_annotation  		=	true


	// Schema validation default options
    validate_params 				=	true // Not yet functional
	version 						=	false
	help  							=	false
	monochrome_logs  				=	false

	email 	 						=	null
	email_on_fail 	 				=	null
	plaintext_email               	=	false
	hook_url                      	=	null
}