params {
	singleEnd 						=	false
	input							= 	"${projectDir}/tests/data/samplesheet.csv"
	reads 	 						=	"$projectDir/tests/data/*_{1,R1,2,R2}.{fq,fq.gz,fastq,fastq.gz}"
	outdir 	  						=	"$projectDir/tests/result"

    // QIIME2 classifiers
    classifier = "${projectDir}/assets/SILVA.OUT.classifier.qza"

    // Common primer and adapter sequences
    standard_adapters = "$projectDir/assets/adapters.fasta"
    standard_primers = "$projectDir/assets/primers.fasta"
    custom_primer_1 = null
    custom_primer_2 = null
    custom_adapter_1 = null
    custom_adapter_2 = null

    batch_size = 500
    read_sample_size = 100000
    novaseq = false
    root_taxon = "domain - Bacteria"
	
	// Process bypass options
	bypass_trim 					=	true
    bypass_post_analysis            =   false
    bypass_report                   =   false

	// File saving options
    save_trim_reads                 =   false
    save_multiqc_reports            =   false
    save_sampled_reads              =   false
    save_merged_reads               =   false

    save_denoise_stats              =   false
    save_denoise_sequences          =   false
    save_denoise_table              =   false

    save_biom_files                 =   false
    save_tree_files                 =   false
    save_alpha_div_files            =   false
    save_beta_div_files             =   false
    save_qiime_artifacts            =   false

    save_biotaviz_files             =   false
    save_sankey_plot                =   false
    save_final_report               =   false

	// Schema validation default options
    validate_params 				=	true // Not yet functional
	version 						=	false
	help  							=	false
	monochrome_logs  				=	false

	email 	 						=	null
	email_on_fail 	 				=	null
	plaintext_email               	=	false
	hook_url                      	=	null
}